*{
    margin: 0px;
}

.main{
    
    height : 100vh;
    background : linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("1.jpg");
    background-position: fixed,center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.home-section{
    display: flex;
    flex : 1;
    justify-content: flex-end;
    padding-left : 4rem;
}

.home-section p{
    width : 35rem;
    padding-top : 7rem;
    margin-bottom: 5rem;
    padding-left : 4rem;
    color : white;
    font-size: 3rem;
}

span{
    color : rgb(255, 0, 55);
}

.tech-stack{
    height : fit-content;
}

.about-section-title,.project-section-title,.tech-stack-title{
    color : white;
    font-size : 3rem;
    display: flex;
    flex: 1;
    padding-top : 40px;
    justify-content: center;
    margin: 2rem;
}

.about-section-content p{
    text-align : justify; 
}

.about-section-content{
    padding :7rem;
    padding-right : 8rem;
    color : white;
    font-size: 2rem;
}

.project-section-carousal{
    display: flex;
    flex: 1;
    overflow-x: auto;
}

.squig,.expertu,.jspy,.pyreader{
    width : 20rem;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.455);
    padding : 10px;
}


::-webkit-scrollbar{
    display: none;
}

.squig img,.expertu img,
.jspy img,.pyreader img{
    width : 20rem;
    
    height : 11.25rem;
}


.project-discription{
    color : white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-discription p{
    padding : 20px;
}

.home-section span{
    font-size: 5rem;
}

.social-media-icons a{
    color : black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.838);
    padding : 15px;
    font-size: 2rem;
    margin-top : 3rem;
    margin-right : 3rem;
    margin-left : 3rem;
    font-weight: bold;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech-stack{
    margin-bottom : 50px;
}

.tech-stack-grid{
    display: grid;
    padding-top : 3rem;
    padding-left : 7rem;
    padding-right : 7rem;
    margin-bottom: 5rem;
    gap: 2.5rem;
    grid-template-columns: repeat(3,1fr);
}

.tech-stack-grid img{
    width : 10rem;
    border-radius : 2rem;
}

.nodejs img,.nodejs{
    height : 10rem;
    width : -30rem;
}

.project-discription p{
    font-size: 1.5rem;
}

p.project-discription-title{
    font-size : 2rem;
}

.project-section{
    padding-right : 2.5rem;
    padding-left : 2.5rem;
    height: 120vh;
}

.html , .python ,.nodejs,.reactjs,.react-native,.js{
    display: flex;
    flex: 1;
    justify-content: center;
}

.social-media-icon-button{
    display: flex;
    flex: 1;
    justify-content: center;
}

.tech-stack , .project-section{
    height: fit-content;
}


/*
    ----Break points----

    desktop : 1200px;
    laptop : 1024px;
    tablet : 768px;
    phone : 480px;
*/


@media (min-width : 360px) and (max-width : 768px){

    .tect-stack-grid-container{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .social-media-icon-button a{
        margin-right : 1.5rem;
        margin-left : 1rem;
        margin-top: 0.5rem;
    }

    .tech-stack-grid{
        grid-template-columns: repeat(2,1fr);
        margin : 1rem;
        column-gap: 3rem;
        row-gap: 3rem;
        padding : 0px;
    }

    .about-section-content{
        padding : 2rem;
        margin-right: 0rem;
        padding-right : 2rem ;
        padding-left: 2rem;
        font-size : 1.5rem;
    }

    .about-section-title,.tech-stack-title{
        margin-right: 0px;
        margin-left: 0px;
    }

    .home-section{
        margin-left: 0px;
        padding-left: 0px;
        height: fit-content;
        justify-content: flex-start;
    }

    .home-section span{
        font-size: 4rem;
    }

    .social-media-icons p{
        font-size: 2.5rem;
        padding-top : 2.5rem;
        padding-left : 1rem;
        width: 10rem;
        margin-bottom: 0px;
    }

    .tech-stack-grid div img{
        width : 7rem;
        height : 7rem;
    }

    .nodejs , .react-native{
        height: 6rem;
    }

}
